* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff5ee;
  font-family: Helvetica;
  font-size: 22px;
}

/* Navbar */
nav {
  background-color: #040302;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9.5px 10px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #fff5ee;
}

nav a img {
  height: 50px;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

/* Main container */
main {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #040302;
}

/* Banner */

.banner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
  background-color: #040302;
  width: 1200px;
  padding: 10px;
}

h2 {
  font-size: 35px;
  margin-bottom: 12px;
}
h4 {
  font-size: 22px;
}
/* End of banner */
/* Tea types */
.teas {
  width: 1000px;
  margin: 3.5rem 0;
  text-align: center;
}
.teas h4 {
  margin-bottom: 25px;
}

.tea-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 33px;
}
.tea-types img {
  height: 200px;
  width: 300px;
}

.tea-types h4 {
  margin-top: 10px;
}
